[Unit]
Description=Waggle Reverse SSH Tunnel

[Service]
Restart=always
RestartSec=30sec
ExecStart=/usr/bin/waggle-bk-reverse-tunnel.sh

[Install]
WantedBy=multi-user.target
